@font-face {
	font-family: 'puikko';
	src: url(/fonts/logofont-m_1.1-ah9kl7yha/logotypejp_mp_m_1.1.ttf);
}

html {
  scroll-padding-top: 100px;
}

.quote-design::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-left: solid 2px #000000;
  border-top: solid 2px #000000;
  top: 0;
  left: 0;
}

.quote-design::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-right: solid 2px #000000;
  border-bottom: solid 2px #000000;
  bottom: 0;
  right: 0;
}

.top-shadow {
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.1);
}

.min-h-15{
  min-height: 15rem;
}

.scroll-back-button{
  animation: slide-up 0.2s ease-out 0.5s forwards;
  transition: all;
  transform: translate(-50%, 7rem);
}

@keyframes slide-up{
  from{
    transform: translate(-50%, 7rem);
  }
  to{
    transform: translate(-50%, 0);
  }
}